body{
    background: #000000;
  }
  .container{
    max-width: 500px;
  }
  input[type=text],
  input[type=text]:focus{
    color: rgb(0, 0, 0);
    border: none;
    background: rgba(255, 255, 255, 0.9);
    max-width: 500px;
  }
  .todos li{
    background: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    font-weight: 450;
  }
  .delete{
    cursor: pointer;
  }
  /* .filtered {
    display: none !important;
  } */